@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

.basicAppStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.basicAppStyle header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7em;
  background-color: #7FB500;
}

.basicAppStyle header .avatar img {
  display: block;
  border: 3px solid #D82827;
  border-radius: 50%;
  width: 5.6em;
}

.basicAppStyle header .h1h2 {
  color: #F4D308;
}

.basicAppStyle header .h1h2 h1 {
  font-size: 1.5em;
}

.basicAppStyle header .h1h2 h1 span {
  color: #D82827;
}

.basicAppStyle header .h1h2 h2 {
  font-size: 1.25em;
}

.basicAppStyle header .h1h2 a {
  text-decoration: none;
  color: #D82827;
  font-size: 1.5em;
}

.basicAppStyle header .settings {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 50;
}

.basicAppStyle header .settings i {
  color: #4C3C72;
  font-size: 2em;
}

.basicAppStyle main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.basicAppStyle main .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.basicAppStyle footer {
  background-color: #7FB500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.basicAppStyle footer .footerNav {
  width: 5em;
  text-align: center;
  font-size: 1.25em;
  color: #4C3C72;
}

.basicAppStyle footer .footerNav span {
  color: #D82827;
}

.basicAppStyle footer .footerNav a {
  color: #4C3C72;
}

.basicAppStyle footer .footerNav i {
  font-size: 2em;
}

.firstFour {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.firstFour header {
  color: #F4D308;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 600;
}

.firstFour header :nth-child(1)::after {
  content: '';
  border: 0.5px dotted #F4D308;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.firstFour .section1 img {
  height: 50vw;
  display: block;
  margin: 0 auto;
}

.firstFour .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstFour .section2 p {
  font-size: 1.25em;
  color: #F4D308;
  width: 80vw;
  text-align: center;
  margin-bottom: 3em;
}

.firstFour .firstFourFooter {
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  bottom: 2em;
}

.findingsDetails .container .description {
  width: 80vw;
  margin: 14em auto 2em auto;
}

.findingsDetails .container .description a {
  text-decoration: none;
  color: #BC7F30;
}

.findingsDetails .container .description span {
  font-size: .8em;
}

.findingsDetails .container h1 {
  color: #F4D308;
  font-size: 1.5em;
  margin: .5em 0;
}

.findingsDetails .container img {
  width: 100vw;
  height: 13em;
  position: fixed;
}

.findingsDetails .container button {
  font-size: 1em;
  padding: .2em .5em;
  margin-top: 1em;
  color: #FFFFFF;
  background-color: #D82827;
  border-radius: 3px;
}

.settingsPage header .settings i {
  color: #D82827;
}

.settingsPage header h1 {
  color: #FFFFFF;
  font-weight: 300;
}

.settingsPage .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.settingsPage .container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/manaia-land.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F4D308;
}

.settingsPage .container ul {
  padding: 0 3em;
  color: #4C3C72;
}

.settingsPage .container li {
  border-bottom: 1px dotted #BC7F30;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: 300;
  margin: 1em 0;
}

.settingsPage .container li span {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.settingsPage .container li hr {
  border-width: 1px;
  display: block;
  z-index: 100;
}

.settingsPage .container #language {
  color: #D82827;
}

.settingsPage .container a {
  text-decoration: none;
  color: #4C3C72;
}

.settingsPageOverlay .overlay {
  position: absolute;
  left: 50%;
  top: 2em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #FFFFFF;
  width: 70vw;
  height: 70vh;
  color: #4C3C72;
}

.settingsPageOverlay .overlay .chla :after {
  content: "";
  display: block;
  border: 0.5px solid rgba(76, 60, 114, 0.1);
  border-radius: 2px;
  width: 60vw;
  margin: 1em auto;
}

.settingsPageOverlay .overlay h1 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
}

.settingsPageOverlay .overlay ul {
  margin: 0;
  padding: 0;
}

.settingsPageOverlay .overlay li {
  font-size: 1.2em;
  margin: 0;
  border: none;
  padding: 1em;
}

.settingsPageOverlay .overlay li a {
  color: #4C3C72;
  white-space: pre;
}

.settingsPageOverlay .overlay li span {
  color: #D82827;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#logo-loading {
  background-color: #7FB500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-loading img {
  width: 80vw;
}

.intro {
  background-color: #7FB500;
}

.intro .logo-introduction {
  text-align: center;
  padding-top: 6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro .logo-introduction img {
  width: 50vw;
}

.intro .explore {
  color: #F4D308;
  text-align: center;
}

.intro .explore :nth-child(1) {
  font-weight: 300;
  text-transform: uppercase;
}

.intro .explore :nth-child(2) {
  font-weight: 600;
  padding-top: .5em;
  text-transform: uppercase;
}

.intro .fb-logo {
  text-align: center;
}

.intro .fb-logo img {
  width: 60vw;
  margin-bottom: 2em;
}

.observe {
  background-color: #BC7F30;
}

.identify {
  background-color: #7FB500;
}

.discuss {
  background-color: #4C3C72;
}

.login {
  height: 100vh;
  background-color: #7FB500;
  background-image: url(images/manaia-land.svg);
  background-repeat: no-repeat;
  /* Full-width input fields */
  /* Set a style for all buttons */
  /* Extra styles for the cancel button */
  /* Center the image and position the close button */
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button (x) */
  /* Add Zoom Animation */
}

.login .logo-login {
  text-align: center;
}

.login .logo-login img {
  width: 80vw;
  margin: 5em auto;
}

.login .loginOptions {
  margin: 3em auto;
  width: 80vw;
}

.login .loginOptions div {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-radius: .25em;
}

.login .loginOptions a {
  display: table-row;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.4em;
}

.login .loginOptions span {
  padding-left: .6em;
}

.login .loginOptions i {
  border: 2px solid rgba(76, 60, 114, 0.05);
  text-align: center;
  width: 1.5em;
  padding: .5em;
}

.login .footerLogin {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #4C3C72;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.25);
}

.login .footerLogin button {
  outline: none;
  font-weight: 700;
}

.login input[type=text], .login input[type=password] {
  font-size: 1em;
  width: 100%;
  padding: .25em 0.5em;
  margin: .5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.login input[type=checkbox] {
  border: 1px solid red;
  font-size: 2em;
}

.login button {
  background-color: #7FB500;
  color: #4C3C72;
  padding: 1em 1.5em;
  margin: .5em auto;
  border: none;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
}

.login .cancelbtn {
  width: auto;
  padding: 1em 1.5em;
  background-color: #D82827;
  color: #F4D308;
}

.login .imgcontainer {
  text-align: center;
  margin: 1em 0 0 0;
  position: relative;
}

.login img.avatar {
  width: 40%;
  border-radius: 50%;
}

.login .container {
  padding: 1em 2em;
}

.login .container b {
  color: #4C3C72;
}

.login span.psw {
  float: right;
  padding-top: 1em;
}

.login .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

.login .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.login .close {
  position: absolute;
  right: .25em;
  top: -0.5em;
  color: #D82827;
  font-size: 3em;
  font-weight: bold;
}

.login .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.login .cancelbtn {
  width: 100%;
}

.me .container a {
  text-decoration: none;
}

.me .container .capture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .5em;
  margin: .25em 0;
  position: relative;
}

.me .container img {
  width: 4em;
  height: 2.5em;
  border: 2px solid #D82827;
  margin-right: .5em;
}

.me .container .description h2 {
  font-size: 1.25em;
  color: #F4D308;
}

.me .container .description p {
  font-size: .9em;
  color: #4C3C72;
}

.me .container .date {
  font-size: .9em;
  color: #4C3C72;
}

.me .container .hello {
  font-size: 2em;
  text-align: center;
}

.me .container hr {
  border: 0.25px dotted #4C3C72;
  width: 70%;
  margin: .5em auto;
}

.explorePage .container {
  height: 100%;
  width: 100%;
}

.observePage .container #camera, .observePage .container #camera--view, .observePage .container #camera--sensor, .observePage .container #camera--output {
  position: fixed;
  z-index: 2;
  height: 75.08vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.observePage .container #camera--view, .observePage .container #camera--sensor, .observePage .container #camera--output {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.observePage .container #camera--trigger {
  background-color: #F4D308;
  color: #D82827;
  font-size: 1.5em;
  border-radius: 50%;
  padding: .6em;
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px 0 black;
          box-shadow: 2px 2px 10px 0 black;
  position: fixed;
  bottom: .5em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.observePage .container .taken {
  height: 100px !important;
  width: 100px !important;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

.observePage footer .camera, .observePage footer span {
  display: none;
}

.mySettings header h1 {
  color: #FFFFFF;
  font-weight: 300;
}

.mySettings header .settings i {
  color: #D82827;
}

.mySettings .formGroup {
  margin: 1em 0;
  padding: 0 2em;
  color: #4C3C72;
  font-size: 1.6em;
}

.mySettings .formGroup input {
  background-color: rgba(0, 0, 0, 0);
  font-size: .75em;
  color: #BC7F30;
  outline: none;
}

.mySettings .formGroup input[type=text] {
  width: 80vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border-bottom: 1px solid rgba(76, 60, 114, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mySettings .formGroup .form-control {
  width: 80vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border-bottom: 1px solid rgba(76, 60, 114, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mySettings .formGroup .field-icon {
  float: right;
  margin-left: -1em;
  margin-top: -1.75em;
  position: relative;
  z-index: 2;
}

.mySettings .submit {
  text-align: center;
}

.mySettings .submit input[type=submit] {
  width: 50vw;
  font-size: 1.2em;
  background-color: #7FB500;
  color: #FFFFFF;
  padding: 14px 20px;
  margin: .5em 0;
  letter-spacing: .2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mySettings .avatarContainer {
  text-align: center;
  margin: 2em 0;
}

.mySettings .avatarContainer h2 {
  font-weight: 300;
  color: #4C3C72;
}

.mySettings .avatarContainer .avatar {
  display: inline-table;
  text-align: center;
}

.mySettings .avatarContainer .avatar h2 {
  font-weight: 300;
  color: #4C3C72;
  background-color: #7FB500;
  border-radius: 4px;
}

.mySettings .avatarContainer .avatar img {
  border-radius: 50%;
  border: 5px solid #D82827;
  margin: 1em 0;
}

.mySettings h2 {
  font-size: 2em;
  color: #4C3C72;
  text-align: center;
  margin: 2em 0 0 0;
}

.mySettings .avatar-wrapper {
  border: 1em solid #D82827;
  position: relative;
  height: 10em;
  width: 10em;
  margin: 1em auto 1em auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mySettings .profile-pic {
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mySettings .upload-button {
  width: 100vw;
  text-align: center;
  margin-bottom: 2em;
}

.mySettings .upload-button button {
  font-size: 1.2em;
  background-color: #7FB500;
  padding: 0.25em .85em;
  color: #FFFFFF;
  border-radius: 4px;
  letter-spacing: .2em;
}

.helpFeedback header h1 {
  color: #FFFFFF;
  font-weight: 300;
}

.helpFeedback header .settings i {
  color: #D82827;
}

.helpFeedback .container h2 {
  width: 70vw;
  font-size: 1.8em;
  margin: 1em auto;
  color: #4C3C72;
}

.helpFeedback .container form {
  width: 90vw;
  margin: 0 auto;
  font-size: 1.5em;
  color: #4C3C72;
}

.helpFeedback .container form textarea {
  width: 100%;
  outline: none;
  padding: .25em;
  background-color: rgba(255, 255, 255, 0.5);
}

.helpFeedback .container form .submit {
  text-align: center;
}

.helpFeedback .container form .submit input[type=submit] {
  font-size: 1em;
  background-color: #D82827;
  color: #FFFFFF;
  padding: .5em;
  margin: .5em auto;
  letter-spacing: .2em;
  border-radius: .2em;
  text-transform: uppercase;
}

.helpFeedback .container .faq {
  width: 90vw;
  margin: 1.5em auto;
  color: #4C3C72;
}

.helpFeedback .container .faq .collapsible {
  background-color: rgba(127, 181, 0, 0.5);
  color: #4C3C72;
  cursor: pointer;
  margin-top: .5em;
  padding: .5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.helpFeedback .container .faq .collapsible:after {
  content: '\02795';
  font-size: 1em;
  float: right;
  margin-left: 5px;
}

.helpFeedback .container .faq .active, .helpFeedback .container .faq .collapsible {
  background-color: rgba(127, 181, 0, 0.5);
}

.helpFeedback .container .faq .active:after {
  content: "\2796";
}

.helpFeedback .container .faq .content {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.helpFeedback .container .faq .content p {
  padding: 2em;
  width: 80%;
}

.friends .container {
  background-image: url(images/manaia-land.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F4D308;
}

.friends .container ul {
  margin-top: 2em;
}

.friends .container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding: 1em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.5px dotted rgba(76, 60, 114, 0.25);
}

.friends .container img {
  width: auto;
  height: 5.6em;
  border-radius: 50%;
  border: 3px solid #D82827;
}

.friends .container .friendName {
  padding-left: 2em;
  color: #4C3C72;
}

.friends .container button {
  font-size: 1em;
  padding: .2em .5em;
  margin-top: 1em;
  color: #FFFFFF;
  background-color: #D82827;
  border-radius: 3px;
}

.join .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em auto;
  width: 90vw;
}

.join .logos img {
  height: 3em;
}

.join .membership {
  text-align: center;
}

.join .membership h1 {
  background-color: rgba(127, 181, 0, 0.5);
  display: inline-block;
  font-size: 1.5em;
  padding: .25em .5em;
  border-radius: 3px;
  color: #4C3C72;
}

.join .membership h1 span {
  color: #D82827;
}

.join .member {
  width: 80vw;
  margin: 0 auto;
}

.join .member h3 {
  width: 100%;
  color: #4C3C72;
  margin: 1em 0 .5em 0;
}

.join form {
  color: #4C3C72;
}

.join form input[type=text], .join form select {
  width: 100%;
  padding: .35em .2em;
  font-size: 1em;
  margin: .5em 0;
  display: block;
  border-radius: .2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.join form input[type=email], .join form select {
  width: 100%;
  padding: .35em .2em;
  font-size: 1em;
  margin: .5em 0;
  display: block;
  border-radius: .2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.join form input[type=tel], .join form select {
  width: 100%;
  padding: .35em .2em;
  font-size: 1em;
  margin: .5em 0;
  display: block;
  border-radius: .2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.join form input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.join .birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join .birth #day, .join .birth #month, .join .birth #year {
  font-size: 1em;
  margin: 0 1em 0 0;
}

.join .kccInfo {
  width: 70vw;
  margin: 1em auto;
}

.join .kccInfo h3 {
  font-size: 1em;
  color: #4C3C72;
  text-align: center;
}

.join .kccInfo p {
  color: #4C3C72;
  margin-top: 1em;
  text-align: center;
}

.join .kccInfo p a {
  text-decoration: none;
  color: #D82827;
  padding: .25em;
}

.join .submit {
  text-align: center;
}

.join .submit input[type=submit] {
  font-size: 1em;
  background-color: #D82827;
  color: #FFFFFF;
  padding: .5em;
  margin: .5em auto;
  letter-spacing: .2em;
  border-radius: .2em;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */