*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}


@import 'smacss/basicAppStyle';

@import 'smacss/firstFour';

@import 'smacss/findingsDetails';

@import 'smacss/settingsPage';

@import 'smacss/settingsPageOverlay';

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@mixin editButton {
    button{
        font-size: 1em;
        padding: .2em .5em;
        margin-top: 1em;
        color: $light-color;
        background-color: $highligt-color;
        border-radius: 3px;
    }    
}



$main-color: #7FB500;
$shine-color: #F4D308;
$highligt-color:#D82827;
$neutral-color: #BC7F30;
$text-color: #4C3C72;
$light-color: #FFFFFF;


body{
    font-family: 'Open Sans', sans-serif;
}


//Loading page starts
#logo-loading{
    background-color: $main-color;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    img{
        width: 80vw;
    }
}
//Loading page ends


//Introduction page starts
.intro{
    background-color: $main-color;

    .logo-introduction{
        text-align: center;
        padding-top: 6em;
        box-sizing: border-box;

        img{
            width: 50vw;
        }
    }

    .explore{
        color: $shine-color;
        text-align: center;

        :nth-child(1){
            font-weight: 300;
            text-transform: uppercase;
        }

        :nth-child(2){
            font-weight: 600;
            padding-top: .5em;
            text-transform: uppercase;
        }
    }

    .fb-logo{
        text-align: center;

        img{
            width: 60vw;
            margin-bottom: 2em;
        }
    }
}
//Introduction page ends


//Observe starts
.observe{

    background-color: $neutral-color
}
//Observe ends


//Identify page starts
.identify{

    background-color: $main-color;
}
//Identify page ends


//Discuss page starts
.discuss{

    background-color: $text-color;
}
//Discuss page ends


//LogIn page starts
.login{
    height: 100vh;
    background-color: $main-color;
    background-image: url(images/manaia-land.svg);
    background-repeat: no-repeat;

    .logo-login{
        text-align: center;

        img{
            width: 80vw;
            margin: 5em auto;
        }
    }

    .loginOptions{
        margin: 3em auto;
        width: 80vw;


        div{
            background-color: rgba($color: $light-color, $alpha: .25);
            margin: 1.5em 0;
            display: flex;
            justify-content: space-between;
            text-align: center;
            border-radius: .25em;
        }

        a{
            display: table-row;
            text-decoration: none;
            color: $light-color;
            font-size: 1.4em;
        }

        span{
            padding-left: .6em;
        }

        i{
            border: 2px solid rgba($color: $text-color, $alpha: .05);
            text-align: center;
            width: 1.5em;
            padding: .5em;

        }

    }

    .footerLogin{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding: 1em;
        box-sizing: border-box;
        text-align: center;
        color: $text-color;
        font-weight: 300;
        background-color: rgba($color: $light-color, $alpha: .25);

        span{
            font-weight: 700;
            color: $light-color;
            padding-left: 1em;
        }
    }
}
//LogIn page ends


//Me page starts
.me{

    .container{

        a{
            text-decoration: none;
            }

        .capture{
            display: flex;
            justify-content: space-around;
            padding: .5em;
            margin: .25em 0;
            position: relative;
        }

        img{
            width: 4em;
            height: 2.5em;
            border: 2px solid $highligt-color;
            margin-right: .5em;
        }

        .description{

            h2{
                font-size: 1.25em;
                color: $shine-color;
            }

            p{
                font-size: .9em;
                color: $text-color;
            }
        }

        .date{
            font-size: .9em;
            color: $text-color;
        }

        .hello{
            font-size: 2em;
            text-align: center;
        }

        hr{
            border: .25px dotted $text-color;
            width: 70%;
            margin: .5em auto;
        }
    }        

}
//Me page ends


//Explore Page starts
.explorePage{

    // .translation{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     clip-path: polygon(36% 50%, 50% 0, 65% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%);
    //     padding: 5em 1em 1em 1em;
    //     border-radius: 5px;
    //     background-color: $light-color;
    //     color: $text-color;
    //     text-shadow: 3px 3px 5px black;
    //     z-index: 20;
    // }
    
    .container{
        height: 100%;
        width: 100%;
    }
}
//Explore Page ends


//Observe Page starts
.observePage{

    .container{

        #camera, #camera--view, #camera--sensor, #camera--output{
            position: fixed;
            z-index: 2;
            height: 70.6vh;
            width: 100vw;
            object-fit: cover;
        }

        #camera--view, #camera--sensor, #camera--output{
            transform: scaleX(-1);
            filter: FlipH;
        }

        #camera--trigger{
            background-color: $shine-color;
            color: $highligt-color;
            font-size: 1.5em;
            border-radius: 50%;
            // border: none;
            padding: .6em;
            text-align: center;
            box-shadow: 2px 2px 10px 0 rgba(0,0,0,1);
            position: fixed;
            bottom: .5em;
            left: 50%;
            transform: translate(-50%);
        }

        .taken{
            height: 100px!important;
            width: 100px!important;
            transition: all 0.5s ease-in;
            border: solid 3px white;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
            top: 20px;
            right: 20px;
            z-index: 2;
        }
    }

    footer{

        .camera, span{
            display: none;
        }
    }
}
//Observe Page ends


//My Settings pages starts
.mySettings{

    header{

        h1{
            color: $light-color;
            font-weight: 300;
        }

        .settings{

            i{
                color: $highligt-color;
            }
        }
    }

    .formGroup{
        margin: 1em 0;
        padding: 0 2em;
        color: $text-color;
        font-size: 1.6em;

        input{
            background-color: rgba($color: #000000, $alpha: 0);
            font-size: .75em;
            color: $neutral-color;
            outline: none;
        }

        input[type=text]{
            width: 80vw;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.25);
            box-sizing: border-box;
        }

        .form-control{
            width: 80vw;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.25);
            box-sizing: border-box;
        }

        .field-icon {
            float: right;
            margin-left: -1em;
            margin-top: -1.75em;
            position: relative;
            z-index: 2;
            }
    }

    .submit{
        text-align: center;

        input[type=submit]{
            width: 50vw;
            font-size: 1.2em;
            background-color: $main-color;
            color: $light-color;
            padding: 14px 20px;
            margin: .5em 0;
            letter-spacing: .2em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }


    .avatarContainer{
        text-align: center;
        margin: 2em 0;

        h2{
            font-weight: 300;
            color: $text-color;
        }

        .avatar{
            display: inline-table;
            text-align: center;

            h2{
                font-weight: 300;
                color: $text-color;
                background-color: $main-color;
                border-radius: 4px;
            }

            img{
                border-radius: 50%;
                border: 5px solid $highligt-color;
                margin: 1em 0;
            }
        }   
    }

    h2{
        font-size: 2em;
        color: $text-color;
        text-align: center;
        margin: 2em 0 0 0;
    }

    .avatar-wrapper{
        border: 1em solid $highligt-color;
        position: relative;
        height: 10em;
        width: 10em;
        margin: 1em auto 1em auto;
        border-radius: 50%;
        overflow: hidden;
        // box-shadow: 1px 1px 15px -5px black;
        transition: all .3s ease;
        // &:hover{
        //     transform: scale(1.05);
        //     cursor: pointer;
        // }
        // &:hover .profile-pic{
        //     opacity: .5;
        // }
    }

    .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
        // &:after{
        //     font-family: FontAwesome;
        //     // content: "\f0aa";
        //     top: 0; left: 0;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     font-size: 190px;
        //     background: #ecf0f1;
        //     color: #34495e;
        //     text-align: center;
        // }
    }
    .upload-button {
        width: 100vw;
        text-align: center;
        margin-bottom: 2em;

        button{
            font-size: 1.2em;
            background-color: $main-color;
            padding: 0.25em .85em;
            color: $light-color;
            border-radius: 4px;
            letter-spacing: .2em;
        }
    }



}
//My Settings pages ends


//Help & Feedback pages starts
.helpFeedback{

    header{

        h1{
            color: $light-color;
            font-weight: 300;
        }

        .settings{

            i{
                color: $highligt-color;
            }
        }
    }
    
    .container{

        h2{
            font-size: 1.8em;
            margin: 1em auto;
            text-align: center;
            color: $text-color;
        }

        .stars{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .stars > input{
            display: none;
        } 
        
        .stars > label:before{ 
            margin: 5px;
            font-size: 3em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .stars > .half:before { 
            content: "\f089";
            position: absolute;
        }

        .stars > label {
            color: $light-color;
        }

        .stars > input:checked + label,
        .stars > input:checked ~ label:hover ~ label {
            color: $highligt-color;
        } 



        p{
            color: $text-color;
            width: 50vw;
            font-size: 0.7em;
            margin: 0 auto 1.9em auto;
        }

        .formGroup{
            width: 90vw;
            margin: 0 auto;

            label{
                font-size: 1.5em;
                color: $text-color;
            }

            textarea{
                background-color: rgba($color: $light-color, $alpha: 0.6);
                width: 100%;
                font-size: 1em;
                padding: .5em;
                box-sizing: border-box;
                outline: none;
            }
        }

        .submit{
            text-align: center;
    
            input[type=submit]{
                width: 50vw;
                font-size: 1.2em;
                background-color: $highligt-color;
                color: $light-color;
                padding: 14px 20px;
                margin: .5em 0;
                letter-spacing: .2em;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .faq{
            width: 90vw;
            margin: 1.5em auto;
            color: $text-color;

            .collapsible {
                background-color: rgba($color: $main-color, $alpha: .5);
                color: $text-color;
                cursor: pointer;
                margin-top: .5em;
                padding: .5em;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 1em;
            }

            .collapsible:after {
                content: '\02795';
                font-size: 1em;
                float: right;
                margin-left: 5px;
              }
  
            .active, .collapsible{
                background-color: rgba($color: $main-color, $alpha: .5);
            }

            .active:after {
                content: "\2796";
              }
  
            .content {
                padding: 0;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;

                p{
                    padding-top: 2em;                    
                    width: 80%;
                }
            }

        }
    }
}
//Help & Feedback pages ends


//Friends pages starts
.friends{

    .container{
        background-image: url(images/manaia-land.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $shine-color;

        ul{
            margin-top: 2em;

            // :after{
            //     content: 'Amazing';
            //     border-bottom: 2px solid red;
            //     display: block;
            // }
        }

        li{
            display: flex;
            align-items: center;
            width: 80vw;
            margin: 0 auto;
            padding: 1em 0;
            box-sizing: border-box;
            border-bottom: .5px dotted rgba($color: $text-color, $alpha: 0.25);
        }

        img{
            width: auto;
            height: 5.6em;
            border-radius: 50%;
            border: 3px solid $highligt-color;
        }

        .friendName{
            padding-left: 2em;
            color: $text-color;
        }

    @include editButton;
    }
}
//Friends pages ends


//Join pages starts
.join{

    .logos{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 1em auto;
        width: 90vw;

        img{
            height: 3em;
        }
    }

    .membership{
        border: 1px solid red;

        h1{
            border: 1px solid blue;
            display: block;
            font-size: 1.5em;
            color: $text-color;

            span{
                background-color: $main-color;
                border-radius: 50%;
                color: $light-color;
                padding: .15em .5em;
                font-size: .5em;
            }
        }
    }
}
//Join pages ends

