$main-color: #7FB500;
$shine-color: #F4D308;
$highligt-color:#D82827;
$neutral-color: #BC7F30;
$text-color: #4C3C72;
$light-color: #FFFFFF;


.findingsDetails{
    .container{

        .description{
            width: 80vw;
            margin: 13em auto 2em auto;

            a{
                text-decoration: none;
                color: $neutral-color;
            }

            span{
                font-size: .8em;
            }
        }

        h1{
            color: $shine-color;
            font-size: 1.5em;
            margin: .5em 0;
        }

        img{
            width: 100vw;
            height: 30vh;
            position: fixed;
        }

        button{
            font-size: 1em;
            padding: .2em .5em;
            margin-top: 1em;
            color: $light-color;
            background-color: $highligt-color;
            border-radius: 3px;
        }
    }
}